---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio">
	<h1>Astro</h1>
	<div id="particles-js">
		<a href="/signin" class="text-slate-300 underline">Iniciar Sesion</a>
		<a href="/register" class="text-slate-300 underline">Registrarse</a>
	</div>
</Layout>
